Repository LeeChasel/url-shortener: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, test-related

lint:
  run: pnpm eslint {staged_files} --fix
  stage_fixed: true

format:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

test-related:
  run: pnpm jest --findRelatedTests {staged_files} --passWithNoTests

chore: add pre-commit hook for related tests and pre-push hook for all tests
  lefthook.yml
Due: none

ci: setup ci gitHub actions workflow to run lint, format, tests and build
  .github/workflows/ci.yml
Due: none

fix: correct missing DATABASE_URL for generate prisma client in ci
  .github/workflows/ci.yml
  package.json
Due: format

ci: add color to jest tests
  .github/workflows/ci.yml
Due: none

refactor: add mock prisma test helper
  src/libs/test-helpers/index.ts
  src/libs/test-helpers/mock-prisma.ts
  src/redirect/redirect.service.spec.ts
  src/url/url-cleanup.service.spec.ts
  src/url/url.service.spec.ts
Due: lint, format, test-related

test: add redirect e2e test
  package.json
  test/jest-e2e.json
  test/redirect.e2e-spec.ts
Due: lint, format, test-related

ci: add e2e test to ci
  .github/workflows/ci.yml
Due: none

test: add helpers for mock creation and E2E module setup to simplify tests
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/libs/test-helpers/index.ts
  src/libs/test-helpers/mock-cache.ts
  src/libs/test-helpers/mock-config-service.ts
  src/libs/test-helpers/mock-http-response.ts
  src/libs/test-helpers/mock-prisma.ts
  src/libs/test-helpers/mock-redirect-service.ts
  src/libs/test-helpers/mock-url-service.ts
  src/redirect/index.ts
  src/redirect/redirect.controller.spec.ts
  src/redirect/redirect.service.spec.ts
  src/url/url-cleanup.service.spec.ts
  src/url/url.service.spec.ts
  src/url/urls.controller.spec.ts
  test/helpers/create-e2e-module.ts
  test/helpers/index.ts
  test/redirect.e2e-spec.ts
Due: lint, format, test-related

test: add urls e2e test
  test/urls.e2e-spec.ts
Due: lint, format, test-related

feat: integrate BullMQ as the queue system and add type-safe job definitions
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/libs/index.ts
  src/libs/modules/queue/queue.module.ts
  src/libs/modules/queue/queue.service.ts
  src/libs/queue/typed-queue.class.ts
Due: lint, format, test-related

feat: implement queue for redirect statistics and update related tests
  src/libs/test-helpers/index.ts
  src/libs/test-helpers/mock-url-queue.ts
  src/redirect/redirect.service.spec.ts
  src/redirect/redirect.service.ts
  src/url/index.ts
  src/url/queue/index.ts
  src/url/queue/url.processor.ts
  src/url/queue/url.producer.ts
  src/url/types/jobs.type.ts
  src/url/url.module.ts
  src/url/url.service.ts
  test/jest-e2e.json
  test/redirect.e2e-spec.ts
  test/setup.ts
  test/urls.e2e-spec.ts
Due: lint, format, test-related

feat: add OpenGraph metadata scraper module and integrate with short URL creation flow
  .prettierrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  prisma/migrations/20251125120051_add_metadata_table/migration.sql
  prisma/schema.prisma
  src/app.module.ts
  src/metadata/adapters/metadata-fetcher.adapter.ts
  src/metadata/index.ts
  src/metadata/interfaces/metadata-fetcher.interface.ts
  src/metadata/metadata.module.ts
  src/metadata/metadata.service.ts
  src/metadata/queue/index.ts
  src/metadata/queue/metadata.processor.ts
  src/metadata/queue/metadata.producer.ts
  src/metadata/types/index.ts
  src/metadata/types/jobs.type.ts
  src/metadata/types/metadata.type.ts
  src/url/url.module.ts
  src/url/url.service.ts
Due: lint, format, test-related

test: update url service unit test for metadata queue integration
  src/libs/test-helpers/index.ts
  src/libs/test-helpers/mock-metadata-queue.ts
  src/url/url.service.spec.ts
Due: lint, format, test-related

feat: add mock metadata service and integrate into redirect and URL e2e tests
  src/libs/test-helpers/index.ts
  src/libs/test-helpers/mock-metadata-service.ts
  test/redirect.e2e-spec.ts
  test/urls.e2e-spec.ts
Due: lint, format, test-related

test: add unit tests for metadata service
  src/libs/test-helpers/index.ts
  src/libs/test-helpers/mock-metadata-fetcher.ts
  src/metadata/index.ts
  src/metadata/interfaces/index.ts
  src/metadata/metadata.service.spec.ts
Due: lint, format, test-related

chore: rely on cache library’s built-in JSON parsing
  src/metadata/metadata.service.spec.ts
  src/metadata/metadata.service.ts
Due: lint, format, test-related

feat: implement OpenGraph metadata handling and bot detection in redirect flow
  .github/workflows/ci.yml
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/redirect/redirect.controller.ts
  src/redirect/redirect.module.ts
  src/redirect/redirect.service.ts
  src/redirect/utils/bot-detector.util.ts
  src/url/url.service.ts
  src/views/og-preview.hbs
Due: lint, format, test-related

test: add mock OpenGraph metadata factory and update tests for metadata handling
  src/libs/test-helpers/index.ts
  src/libs/test-helpers/mock-metadata-data.ts
  src/metadata/metadata.service.spec.ts
  src/redirect/redirect.controller.spec.ts
  src/redirect/redirect.service.spec.ts
  src/url/url.service.spec.ts
  test/redirect.e2e-spec.ts
Due: lint, format, test-related

feat: add Swagger documentation
  README.md
  src/main.ts
  src/redirect/redirect.controller.ts
  src/url/dto/create-url.dto.ts
  src/url/dto/url-response.dto.ts
  src/url/urls.controller.ts
Due: lint, format, test-related

Path conditions:
  lint: any of: *.ts
  format: any of: *.{ts,prisma,json,md}
  test-related: any of: *.ts
